{% extends "layout-contact.html" %}

{% block pageTitle %}
Check you're eligible – Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/eligibility/check-youre-eligible" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">


                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Check if you are eligible
                      </h1>
                    </legend>
                      <div id="eligibility-hint" class="govuk-hint">
                      Select all that apply to you.
                       </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="eligible-1" name="eligible" type="checkbox"
                               value="disability"  {{ checked("I have a physical or mental health condition or disability that means I need support to do my job, or to get to and from work", "disability") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="disability">
                          I have a physical or mental health condition or disability that means I need support to do my job, or to get to and from work
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="eligible-2" name="eligible" type="checkbox" value="I am aged 16 or over"
                                {{ checked("I’m aged 16 or over", "eligible-2") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="eligible-2">
                          I am aged 16 or over
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="eligible-3" name="eligible" type="checkbox"
                               value="I am in paid work (or about to start or return to work) in England, Scotland or Wales"  {{ checked("I'm in paid work (or about
                        to start or return to work) in England, Scotland or Wales", "eligible-3") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="eligible-3">
                          I am in paid work (or about to start or return to work) in England, Scotland or Wales
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="eligible-4" name="eligible" type="checkbox" value="I live in England, Scotland or Wales"
                               {{ checked("I live in England, Scotland or Wales", "eligible-4") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="eligible-4">
                          I live in England, Scotland or Wales
                        </label>
                      </div>

                      <div class="govuk-checkboxes__divider">or</div>

                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="eligible-5" name="eligible" type="checkbox" value="None of these" data-behaviour="exclusive">
                        <label class="govuk-label govuk-checkboxes__label" for="eligible-5"  {{ checked("None of these", "eligible-5") }}>
                        None of these
                        </label>

          </div>
        </div>


                  </fieldset>
                </div>




                <div class="govuk-!-padding-bottom-1"></div>

              </fieldset>

            </div>

        <a href="#" id="eligibleRedirect" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
          </a>

    </form>
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">


  </div>
</div>

  </div>

<script>
                    document.getElementById("eligibleRedirect").addEventListener("click", eligibleFunction);

                    function eligibleFunction() {
                      var checkboxes = Array.from(document.getElementsByClassName("govuk-checkboxes__input"));
                      var linkHref = "/alpha-1i/eligibility/ineligible";
                      var count = 0;
                      for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked ) {
                          count++;
                        }
                      }
                      if (count == 4) {
                        linkHref = "/alpha-1i/eligibility/ogd";
                        }
                      document.location.href = linkHref;
                    }

</script>

{% endblock %}
