// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.hmrc-add-to-a-list{padding-left:0;font-family:GDS Transport,arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25}
@media print{
  .hmrc-add-to-a-list{font-family:sans-serif}}
  @media (min-width:40.0625em){.hmrc-add-to-a-list{font-size:19px;font-size:1.1875rem;line-height:1.31579}}
  @media print{
    .hmrc-add-to-a-list{font-size:14pt;line-height:1.15}}
    @media (min-width:48.0625em){
      .hmrc-add-to-a-list{display:table}}
      @media (min-width:48.0625em){
        .hmrc-add-to-a-list--short{width:100%}.hmrc-add-to-a-list--short
        .hmrc-add-to-a-list__identifier{width:30%}}
        @media (min-width:48.0625em){
          .hmrc-add-to-a-list--long{width:100%}.hmrc-add-to-a-list--long .hmrc-add-to-a-list__identifier{width:50%}}
          .hmrc-add-to-a-list__contents{display:block;position:relative;padding-bottom:5px;border-bottom:1px solid #b1b4b6}
          @media (min-width:48.0625em){
            .hmrc-add-to-a-list__contents{display:table-row;padding-bottom:0;border-bottom-width:0}}
.hmrc-add-to-a-list__change,
.hmrc-add-to-a-list__identifier,
.hmrc-add-to-a-list__remove{display:block;margin:0}
@media (min-width:48.0625em){
  .hmrc-add-to-a-list__change,.hmrc-add-to-a-list__identifier,
  .hmrc-add-to-a-list__remove{display:table-cell;padding:15px 0;border-bottom:1px solid #b1b4b6}}
  .hmrc-add-to-a-list__identifier{margin:10px 60px 0 0;font-weight:700}@media (min-width:48.0625em){.hmrc-add-to-a-list__identifier{margin:0}}
  .hmrc-add-to-a-list__identifier--light{font-weight:400}
  .hmrc-add-to-a-list__remove{margin-top:10px;margin-bottom:10px;text-align:right}
  @media (min-width:48.0625em){
    .hmrc-add-to-a-list__remove{padding-right:0}}
    .hmrc-add-to-a-list__change{position:absolute;top:0;right:0;text-align:right}
    @media (min-width:48.0625em){
      .hmrc-add-to-a-list__change{position:static}
      .hmrc-add-to-a-list__change+
      .hmrc-add-to-a-list__remove{width:6em}}
      .hmrc-list-with-actions{font-family:GDS Transport,arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25}
      @media print{
        .hmrc-list-with-actions{font-family:sans-serif}}
        @media (min-width:40.0625em){.hmrc-list-with-actions{font-size:19px;font-size:1.1875rem;line-height:1.31579}}
        @media print{
        .hmrc-list-with-actions{font-size:14pt;line-height:1.15}}
        @media (min-width:48.0625em){
          .hmrc-list-with-actions--short
        .hmrc-list-with-actions__name{width:30%}}
        @media (min-width:48.0625em){
          .hmrc-list-with-actions--long .hmrc-list-with-actions__name{width:50%}}
          .hmrc-list-with-actions__item{display:flex;justify-content:space-between;padding:15px 0;border-bottom:1px solid #b1b4b6}
          .hmrc-list-with-actions__name{font-weight:400}
          .hmrc-list-with-actions__actions{display:flex;flex-direction:column;flex-wrap:wrap}
          @media (min-width:48.0625em){
            .hmrc-list-with-actions__actions{flex-direction:row}}
            .hmrc-list-with-actions__action{margin-bottom:10px;text-align:right}
            @media (min-width:48.0625em){
              .hmrc-list-with-actions__action{margin-bottom:0;flex-direction:row}}
              .hmrc-list-with-actions__action:last-of-type{margin-bottom:0}





              .dwp-quick-reference {
                margin: 15px 0;
                color: #0b0c0c;
                font-family: Helvetica, Arial, sans-serif;
                word-break: break-word;
              }
              .dwp-quick-reference:first-child {
                margin-top: 0;
              }
              .dwp-quick-reference--alternative {
                margin-left: -15px;
                padding: 15px 15px 5px;
                color: #ffffff;
                background: #1d70b8;
              }
              @media (max-width: 40.0525em) {
                .dwp-quick-reference--alternative {
                  margin-right: -15px;
                }
              }
              .dwp-quick-reference__block {
                margin: 0;
                padding: 0;
              }
              .dwp-quick-reference__label {
                font-family: Helvetica, Arial, sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-weight: 700;
                font-size: 1px;
                line-height: 1.25;
                margin: 0;
                padding: 0 10px 0 0;
                float: left;
              }
              @media print {
                .dwp-quick-reference__label {
                  font-family: sans-serif;
                }
              }
              @media (min-width: 40.0625em) {
                .dwp-quick-reference__label {
                  font-size: 1.1875rem;
                  line-height: 1.3157894737;
                }
              }
              @media print {
                .dwp-quick-reference__label {
                  font-size: 14pt;
                  line-height: 1.15;
                }
              }
              .dwp-quick-reference__label:has(+ .dwp-quick-reference__status) {
                padding-top: 5px;
              }
              @media (max-width: 25em) {
                .dwp-quick-reference__label {
                  padding-bottom: 4px;
                  float: none;
                }
              }
              .dwp-quick-reference__primary {
                font-family: Helvetica, Arial, sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.1111111111;
                margin: 0;
                padding-bottom: 10px;
              }
              @media print {
                .dwp-quick-reference__primary {
                  font-family: sans-serif;
                }
              }
              @media (min-width: 40.0625em) {
                .dwp-quick-reference__primary {
                  font-size: 1.6875rem;
                  line-height: 1.1111111111;
                }
              }
              @media print {
                .dwp-quick-reference__primary {
                  font-size: 18pt;
                  line-height: 1.15;
                }
              }
              @media (max-width: 40.0525em) {
                .dwp-quick-reference__primary {
                  font-size: 20px;
                }
              }
              .dwp-quick-reference__secondary {
                font-family: Helvetica, Arial, sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.25;
                margin: 0;
                padding-bottom: 10px;
              }
              @media print {
                .dwp-quick-reference__secondary {
                  font-family: sans-serif;
                }
              }
              @media (min-width: 40.0625em) {
                .dwp-quick-reference__secondary {
                  font-size: 1.1875rem;
                  line-height: 1.3157894737;
                }
              }
              @media print {
                .dwp-quick-reference__secondary {
                  font-size: 14pt;
                  line-height: 1.15;
                }
              }
              .dwp-quick-reference__status {
                margin: 0;
                margin-top: 5px;
                margin-bottom: 15px;
              }
              .dwp-quick-reference__status .govuk-tag {
                max-width: 260px;
              }
              .dwp-quick-reference__status--white {
                color: #1d70b8;
                background-color: #ffffff;
              }

              .dwp-quick-reference--reduced {
                margin-bottom: 15px;
              }
              .dwp-quick-reference--reduced .dwp-quick-reference__label {
                float: none;
              }
              @media (max-width: 40.0525em) {
                .dwp-quick-reference--reduced .dwp-quick-reference__label {
                  margin-bottom: 3px;
                }
                .dwp-quick-reference--reduced .dwp-quick-reference__label:has(+ .dwp-quick-reference__status) {
                  margin-bottom: 7px;
                  padding-top: 0;
              }
              }
